<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="left_container">
            <img class="logo_img" src="/static/image/MGLogo.png">
            <p>MG</p>
          </div>
          <div class="right_container">
            <button class="btn login_btn">로그인</button>
            <button class="btn regist_btn">회원가입</button>
          </div>
        </div>
    </header>
</body>
</html>