.main {
  margin-top: 150px;
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin: 0 3%;

  width: 1300px;
  height: 800px;
}

.video-size {
  width: 100%;
  height: 80%;
}

.video {
  width: 100%;
  height: 100%;

  margin-right: 20px;

}

.music-info {
  width: 100%;
  height: 20%;
  margin-top: 5px;
  border-radius: 7px;

  background-color: #ebebeb;
}

.writer {
  text-align: right;
  margin: 5px 10px 5px 0px;
  font-size: 15px;
  font-weight: 700;
}

.song-name {
  margin: 5px 0px 5px 10px;
  font-size: 20px;
  font-weight: 700;
}

.singer {
  margin: 5px 0px 5px 10px;
  font-size: 15px;
  font-weight: 700;
}

.song-info {
  margin: 5px 0px 5px 10px;
  font-size: 15px;
  font-weight: 700;
}

.youtube-link {
  margin: 5px 0px 5px 10px;
  font-size: 15px;
  font-weight: 700;
}

.modify-btn {
  margin: 10px auto;
  width: 55%;
  text-align: right;
}

.comments-content {
  margin: 10px auto;
  width: 30%;
}


.comments-content p {
  font-size: 14px;
  font-weight: 500;

  margin: 10px 0px 10px;
}

.comments-content input {
  width: 80%;
  height: 40px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgb(198, 198, 198);
}

.add-btn {
  margin-left: 10px;
}

.regist {
  width: 100%;
  margin: 5px 0px;
}

.cancle {
  width: 100%;
  margin: 5px 0px;
}