.main-container {
    width: 100%;
    height: 100%;
}

.main-content {
    margin: 160px auto 0;

    width: 500px;
    height: 700px;

    text-align: center;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 7px;
}

.main-title {
    margin: 20px;

    font-size: 30px;
    font-weight: 700;
}

.main-table {
    margin: 0 auto;
}

.main-table tr td {
    text-align: left;

    height: 60px;
    font-size: 17px;
    padding: 10px 10px;
}

.main-table tr td:nth-child(1) {
    text-align: center;
    width: 80px;
}

.main-table tr td:nth-child(2) {
    width: 300px;
}

.inputs {
    padding: 0px 7px;
    width: 100%;
    height: 40px;

    
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid rgb(198, 198, 198);
}


select {
    width: 100%;
    height: 40px;

    text-align: center;
    
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid rgb(198, 198, 198);
}


.div-button {
    margin: 30px auto;
}

.add-button, .cancel-button {
    font-size: 15px;
    width: 100px;
    height: 40px;
}

.add-button {
    margin-right: 10px;
}

.cancel-button {
    margin-left: 10px;
}