<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="left-container">
            <img class="logo-img" src="/static/image/MGLogo.png">
            <p>MG</p>
            <input class="search" type="text" placeholder="검색">
            <button>
              <img class="search-img" src="/static/image/test.png" alt="검색">
            </button>
          </div>
          <div class="right-container">
            <button class="btn login-btn">로그인</button>
            <button class="btn regist-btn">회원가입</button>
          </div>
        </div>
    </header>
    <mian class="main-container">
        <aside class="main-aside">
            <ul> SOLO
                <li><a href="/solo/men"> - Men</a></li>
                <li><a href="/solo/girl"> - Girl</a></li>
            </ul>
            <ul> DUO
                <li><a href="/duo/men"> - Men</a></li>
                <li><a href="/duo/girl"> - Girl</a></li>
                <li><a href="/duo/coed"> - Coed</a></li>
            </ul>
            <ul> GROUP
                <li><a href="/group/men"> - Men</a></li>
                <li><a href="/group/girl"> - Girl</a></li>
                <li><a href="/group/coed"> - Coed</a></li>
            </ul>
            <ul> GENRE
                <li><a href="/genre/balled"> - Balled</a></li>
                <li><a href="/genre/dance"> - Dance</a></li>
                <li><a href="/genre/hiphop"> - Hiphop</a></li>
                <li><a href="/genre/trot"> - Trot</a></li>
            </ul>
            <ul> SEASON
                <li><a href="/season/spring"> - Spring</a></li>
                <li><a href="/season/summer"> - Summer</a></li>
                <li><a href="/season/fall"> - Fall</a></li>
                <li><a href="/season/winter"> - Winter</a></li>
            </ul>
        </aside>
        <div class="main-content">
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="/static/image/ex_image.png">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="/static/image/ex_image.png">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="/static/image/ex_image.png">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="/static/image/ex_image.png">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="/static/image/ex_image.png">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="/static/image/ex_image.png">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="/static/image/ex_image.png">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="/static/image/ex_image.png">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            
        </div>
    </mian>
</body>
</html>