<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="left-container">
            <img class="logo-img" src="/static/image/MGLogo.png">
            <p>MG</p>
            <input class="search" type="text" placeholder="검색">
            <button>
              <img class="search-img" src="/static/image/search.png" alt="검색">
            </button>
          </div>
          <div class="right-container">
            <button class="btn login-btn ">로그인</button>
            <button class="user-info">정보</button>
            <button class="btn logout-btn ">로그아웃<button>
            <!-- 타임리프를 이용한 로그인, 로그아웃 창 결과 -->
            <!-- <button class="btn login-btn" sec:authorize="isAnonymous()">로그인</button>
            <button class="btn login-btn" sec:authorize="isAuthenticated()">로그아웃</button> -->
            <button class="btn regist-btn ">회원가입</button>
            <button class="btn addmusic-btn ">뮤직등록</button>
          </div>
        </div>
      </header>
    <main class="main-container">
        <aside class="main-aside">
          <!-- <form action=""> -->
              <ul> CATEGORY
                <input type="radio" class="category-radio" name="category" id="Solo" value="1"/>
                <li><label for="Solo"> - Solo</label></li>
                <input type="radio" class="category-radio" name="category" id="Duo" value="2"/>
                <li><label for="Duo"> - Duo</label></li>
                <input type="radio" class="category-radio" name="category" id="Group" value="3"/>
                <li><label for="Group"> - Group</label></li>
              </ul>
              <ul> GENDER
                <input type="radio" class="gender-radio" name="gender" id="Men" value="1"/>
                <li><label for="Men"> - Men</label></li>
                <input type="radio" class="gender-radio" name="gender" id="Girl" value="2"/>
                <li><label for="Girl"> - Girl</label></li>
                <input type="radio" class="gender-radio" name="gender" id="Coed" value="3"/>
                <li><label for="Coed"> - Coed</label></li>
              </ul>
              <ul> GENRE
                <input type="radio" class="genre-radio" name="genre" id="Balled" value="1"/>
                <li><label for="Balled"> - Balled</label></li>
                <input type="radio" class="genre-radio" name="genre" id="Dance" value="2"/>
                <li><label for="Dance"> - Dance</label></li>
                <input type="radio" class="genre-radio" name="genre" id="Hiphop" value="3"/>
                <li><label for="Hiphop"> - Hiphop</label></li>
                <input type="radio" class="genre-radio" name="genre" id="Trot" value="4"/>
                <li><label for="Trot"> - Trot</label></li>
              </ul>
              <ul> SEASON
                <input type="radio" class="season-radio" name="season" id="Spring" value="1"/>
                <li><label for="Spring"> - Spring</label></li>
                <input type="radio" class="season-radio" name="season" id="Summer" value="2"/>
                <li><label for="Summer"> - Summer</label></li>
                <input type="radio" class="season-radio" name="season" id="Fall" value="3"/>
                <li><label for="Fall"> - Fall</label></li>
                <input type="radio" class="season-radio" name="season" id="Winter" value="4"/>
                <li><label for="Winter"> - Winter</label></li>
              </ul>
          <!-- </form> -->
        </aside>
        
        <div class="main-content">

            
        </div>
    </main>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>