<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="left-container">
            <img class="logo-img" src="/static/image/MGLogo.png">
            <p>MG</p>
            <input class="search" type="text" placeholder="검색">
            <button>
              <img class="search-img" src="/static/image/test.png" alt="검색">
            </button>
          </div>
          <div class="right-container">
            <form action="">
              <button class="btn login-btn" sec:authorize="isAnonymous()">로그인</button>
              <button class="btn login-btn" sec:authorize="isAuthenticated()">로그아웃</button>
            </form>
            <button class="btn regist-btn">회원가입</button>
          </div>
        </div>
      </header>
    <mian class="main-container">
        <aside class="main-aside">
            <ul> CATEGORY
                <li><a href="/category/Solo"> - Solo</a></li>
                <li><a href="/category/Duo"> - Duo</a></li>
                <li><a href="/category/Group"> - Group</a></li>
            </ul>
            <ul> GENDER
                <li><a href="/gender/Men"> - Men</a></li>
                <li><a href="/gender/Girl"> - Girl</a></li>
                <li><a href="/gender/Coed"> - Coed</a></li>
            </ul>
            <ul> GENRE
                <li><a href="/genre/Balled"> - Balled</a></li>
                <li><a href="/genre/Dance"> - Dance</a></li>
                <li><a href="/genre/Hiphop"> - Hiphop</a></li>
                <li><a href="/genre/Trot"> - Trot</a></li>
            </ul>
            <ul> SEASON
                <li><a href="/season/Spring"> - Spring</a></li>
                <li><a href="/season/Summer"> - Summer</a></li>
                <li><a href="/season/Fall"> - Fall</a></li>
                <li><a href="/season/Winter"> - Winter</a></li>
            </ul>
        </aside>
        
        <div class="main-content">
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="https://i.ytimg.com/vi/v7bnOxV4jAc/hqdefault.jpg" alt="">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="https://i.ytimg.com/vi/v7bnOxV4jAc/hqdefault.jpg" alt="">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="https://i.ytimg.com/vi/v7bnOxV4jAc/hqdefault.jpg" alt="">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="https://i.ytimg.com/vi/v7bnOxV4jAc/hqdefault.jpg" alt="">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="https://i.ytimg.com/vi/v7bnOxV4jAc/hqdefault.jpg" alt="">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="https://i.ytimg.com/vi/v7bnOxV4jAc/hqdefault.jpg" alt="">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="https://i.ytimg.com/vi/v7bnOxV4jAc/hqdefault.jpg" alt="">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            <div class="main-infolist">
                <div class="main-info">
                    <div class="main-img">
                        <img src="https://i.ytimg.com/vi/v7bnOxV4jAc/hqdefault.jpg" alt="">
                    </div>
                    <div class="title">곡명: 아무무</div>
                    <div class="singer">가수명: 아무무</div>
                    <div class="tag">#아무무</div>
                </div>
            </div>
            
        </div>
    </mian>
    <script src="/static/js/index.js"></script>
</body>
</html>