<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="left-container">
        <img class="logo-img" src="/static/image/MGLogo.png">
        <p>MG</p>
        <input class="search" type="text" placeholder="검색">
        <button>
          <img class="search-img" src="/static/image/test.png" alt="검색">
        </button>
      </div>
      <div class="right-container">
        <button class="btn login-btn">로그인</button>
        <button class="btn regist-btn">회원가입</button>
      </div>
    </div>
  </header>
  <main class="main">
      <div class="content">
        <img class="login-img" src="/static/image/MGLogo.png" alt="">         
      </div>
      <div class="login-content">
        <p>로그인</p>
        <form action="/login" method="post">
          <input name="username" class="id" type="text" th:value="${username}" placeholder="아이디를 입력해주세요" required>
          <input name="password" class="password" type="password" placeholder="패스워드를 입력해주세요" required>
          <button class="btn content-login">로그인</button>
          <button class="btn content-regist">회원가입</button>
        </form>
      </div>
  </main>
  <script src="/static/js/account/login.js"></script>
  <!-- <script src="/static/js/header.js"></script> -->
</body>
</html>