<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MG</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/music_post.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="left-container">
        <img class="logo-img" src="/static/image/MGLogo.png">
        <p>MG</p>
        <input class="search" type="text" placeholder="검색">
        <button>
          <img class="search-img" src="/static/image/search.png" alt="검색">
        </button>
      </div>
      <div class="right-container">
        <button class="btn login-btn ">로그인</button>
        <button class="btn logout-btn ">로그아웃<button>
        <!-- 타임리프를 이용한 로그인, 로그아웃 창 결과 -->
        <!-- <button class="btn login-btn" sec:authorize="isAnonymous()">로그인</button>
        <button class="btn login-btn" sec:authorize="isAuthenticated()">로그아웃</button> -->
        <button class="btn regist-btn ">회원가입</button>
        <button class="btn addmusic-btn ">뮤직등록</button>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="main-content">
      <div class="content">
          <!-- <div class="video-size">
            <iframe class="video" src="https://www.youtube.com/embed/v7bnOxV4jAc"></iframe>
          </div>
          <div class="music-info">
            <p class="writer">작성자 : born</p>
            <p class="song-name">라일락</p>
            <p class="singer">아이유</p>
            <p class="song-info">곡 설명 : 너에 취한다</p>
            <p class="youtube-link">유튜브 링크 : <a href="https://www.youtube.com/watch?v=P5zLhz87kGE">https://www.youtube.com/watch?v=P5zLhz87kGE</a></p>
            <div class="modify-btn">
              <button class="btn post-update-btn">수정</button>
              <button class="btn post-delete-btn">삭제</button>
            </div>
          </div> -->
      </div>
      <div class="comments-content">
        <p>댓글 (총 0개)</p>
        <div class="comments-input">
          <input class="comment" type="text" placeholder="댓글을 입력해주세요 :)">
          <button class="btn add-btn" type="button">작성</button>
        </div>
        <div class="comments">
          <div class="comment-box">
            <div class="comment-username">username</div>
            <div class="comment-text">내용내용내용내용내용</div>
            <div class="comment-date">날짜(2022.11.24)</div>
          </div>
          <div class="comment-box">
            <div class="comment-username">username</div>
            <div class="comment-text">내용</div>
            <div class="comment-date">날짜(2022.11.24)</div>
          </div>
          <div class="comment-box">
            <div class="comment-username">username</div>
            <div class="comment-text">내용</div>
            <div class="comment-date">날짜(2022.11.24)</div>
          </div>
          <div class="comment-box">
            <div class="comment-username">username</div>
            <div class="comment-text">내용</div>
            <div class="comment-date">날짜(2022.11.24)</div>
          </div>
          <div class="comment-box">
            <div class="comment-username">username</div>
            <div class="comment-text">내용</div>
            <div class="comment-date">날짜(2022.11.24)</div>
          </div>
          <div class="comment-box">
            <div class="comment-username">username</div>
            <div class="comment-text">내용</div>
            <div class="comment-date">날짜(2022.11.24)</div>
          </div>
          <div class="comment-box">
            <div class="comment-username">username</div>
            <div class="comment-text">내용</div>
            <div class="comment-date">날짜(2022.11.24)</div>
          </div>

          
        </div>
      </div>
    </div>
  </main>
  <script src="/static/js/header.js"></script>
  <script src="/static/js/music_post.js"></script>
</body>
</html>
