<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/music_update.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="left-container">
            <img class="logo-img" src="/static/image/MGLogo.png">
            <p>MG</p>
            <input class="search" type="text" placeholder="검색">
            <button>
                <img class="search-img" src="/static/image/search.png" alt="검색">
            </button>
          </div>
          <div class="right-container">
            <button class="btn login-btn ">로그인</button>
            <button class="user-info">정보</button>
            <button class="btn logout-btn ">로그아웃<button>
            <!-- 타임리프를 이용한 로그인, 로그아웃 창 결과 -->
            <!-- <button class="btn login-btn" sec:authorize="isAnonymous()">로그인</button>
            <button class="btn login-btn" sec:authorize="isAuthenticated()">로그아웃</button> -->
            <button class="btn regist-btn ">회원가입</button>
            <button class="btn addmusic-btn ">뮤직등록</button>
          </div>
        </div>
    </header>
    <mian class="main-container">
        <div class="main-content">
            <div class="main-title">
                Music 수정
            </div>
            <table class="main-table">
                <tr>
                    <td>가수명</td>
                    <td><input type="text" class="inputs" placeholder="가수명을 입력해 주세요."></td>
                </tr>
                <tr>
                    <td>곡명</td>
                    <td><input type="text" class="inputs" placeholder="곡명을 입력해 주세요."></td>
                </tr>
                <tr>
                    <td>곡설명</td>
                    <td><input type="text" class="inputs" placeholder="곡설명을 입력해 주세요."></td>
                </tr>
                <tr>
                    <td>링크</td>
                    <td><input type="text" class="inputs" placeholder="유튜브링크를 입력해 주세요."></td>
                </tr>
                <tr>
                    <td>분류</td>
                    <td>
                        <select class="inputs">
                            <option value="none">분류</option>
                            <option value="solo">SOLO</option>
                            <option value="duo">DUO</option>
                            <option value="group">GROUP</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>성별</td>
                    <td>
                        <select class="inputs">
                            <option value="none">성별</option>
                            <option value="men">MEN</option>
                            <option value="girl">GIRL</option>
                            <option value="coed">COED</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>장르</td>
                    <td>
                        <select class="inputs">
                            <option value="none">장르</option>
                            <option value="balled">Balled</option>
                            <option value="dance">Dance</option>
                            <option value="hiphop">Hiphop</option>
                            <option value="trot">Trot</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>계절</td>
                    <td>
                        <select class="inputs">
                            <option value="none">계절</option>
                            <option value="spring">Spring</option>
                            <option value="summer">Summer</option>
                            <option value="fall">Fall</option>
                            <option value="winter">Winter</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="div-button">
                <button type="button" class="btn update-button">수정</button>
                <button type="button" class="btn cancel-button">취소</button>
            </div>
        </div>
    </mian>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/music_update.js"></script>
</body>
</html>