<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/music_add.css">
</head>
<body>
    <mian class="main-container">
        <div class="main-content">
            <table class="main-table">
                <tr>
                    <td>가수명</td>
                    <td><input type="text" class="inputs"></td>
                </tr>
                <tr>
                    <td>곡명</td>
                    <td><input type="text" class="inputs"></td>
                </tr>
                <tr>
                    <td>곡설명</td>
                    <td><input type="text" class="inputs"></td>
                </tr>
                <tr>
                    <td>유튜브링크</td>
                    <td><input type="text" class="inputs"></td>
                </tr>
                <tr>
                    <td>장르</td>
                    <td><select class="inputs">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select></td>
                </tr>
                <tr>
                    <td>감성</td>
                    <td><select class="inputs">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select></td>
                </tr>
                <tr>
                    <td>계절</td>
                    <td><select class="inputs">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select></td>
                </tr>
            </table>
            <div class="button">
                <button class="button add-button">저장</button>
                <button class="button cancel-button">취소</button>
            </div>
        </div>
    </mian>
</body>
</html>