<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/music_add.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="left-container">
            <img class="logo-img" src="/static/image/MGLogo.png">
            <p>MG</p>
            <input class="search" type="text" placeholder="검색">
            <button>
              <img class="search-img" src="/static/image/test.png" alt="검색">
            </button>
          </div>
          <div class="right-container">
            <button class="btn login-btn">로그인</button>
            <button class="btn regist-btn">회원가입</button>
          </div>
        </div>
    </header>
    <mian class="main-container">
        <div class="main-content">
            <div class="main-title">
                Music 등록
            </div>
            <table class="main-table">
                <tr>
                    <td>가수명</td>
                    <td><input type="text" class="inputs" placeholder="가수명을 입력해 주세요."></td>
                </tr>
                <tr>
                    <td>곡명</td>
                    <td><input type="text" class="inputs" placeholder="곡명을 입력해 주세요."></td>
                </tr>
                <tr>
                    <td>곡설명</td>
                    <td><input type="text" class="inputs" placeholder="곡설명을 입력해 주세요."></td>
                </tr>
                <tr>
                    <td>링크</td>
                    <td><input type="text" class="inputs" placeholder="유튜브링크를 입력해 주세요."></td>
                </tr>
                <tr>
                    <td>분류</td>
                    <td>
                        <select class="inputs">
                            <option value="solo">SOLO</option>
                            <option value="group">GROUP</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>성별</td>
                    <td>
                        <select class="inputs">
                            <option value="men">MEN</option>
                            <option value="girl">GIRL</option>
                            <option value="coed">COED</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>장르</td>
                    <td>
                        <select class="inputs">
                            <option value="none">장르 선택</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>계절</td>
                    <td>
                        <select class="inputs">
                            <option value="none">계절 선택</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="div-button">
                <button type="button" class="btn add-button">등록</button>
                <button type="button" class="btn cancel-button">취소</button>
            </div>
        </div>
    </mian>
</body>
</html>