<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/userInfo.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="left-container">
            <img class="logo-img" src="/static/image/MGLogo.png">
            <p>MG</p>
            <input class="search" type="text" placeholder="검색">
            <button>
              <img class="search-img" src="/static/image/search.png" alt="검색">
            </button>
          </div>
          <div class="right-container">
            <button class="btn login-btn ">로그인</button>
            <button class="user-info">정보</button>
            <button class="btn logout-btn ">로그아웃<button>
            <!-- 타임리프를 이용한 로그인, 로그아웃 창 결과 -->
            <!-- <button class="btn login-btn" sec:authorize="isAnonymous()">로그인</button>
            <button class="btn login-btn" sec:authorize="isAuthenticated()">로그아웃</button> -->
            <button class="btn regist-btn ">회원가입</button>
            <button class="btn addmusic-btn ">뮤직등록</button>
          </div>
        </div>
      </header>
    <main class="main-container">
        <aside class="main-aside">
          <!-- <form action=""> -->
              <ul class="test"> 내 정보
                <input type="radio" class="register-music" name="category" id="register-music" value="1" checked/>
                <li><label for="register-music" class="register"> - 등록 음악</label></li>
                <input type="radio" class="like-music" name="category" id="like-music" value="2"/>
                <li><label for="like-music" class="like"> - 좋아요</label></li>
              </ul>
              
          <!-- </form> -->
        </aside>
        
        <div class="main-content">

            
        </div>
    </main>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/userInfo.js"></script>
</body>
</html>